<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699516961562-61r1c9t1b6e5is8us5mff7ko9jtlvb55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699516961562-61r1c9t1b6e5is8us5mff7ko9jtlvb55</string>
	<key>API_KEY</key>
	<string>AIzaSyBBX2blH1ioodddGGpZx1dvmCFUJc5U5ME</string>
	<key>GCM_SENDER_ID</key>
	<string>699516961562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jina.CardMoaMVP</string>
	<key>PROJECT_ID</key>
	<string>cardmoamvp</string>
	<key>STORAGE_BUCKET</key>
	<string>cardmoamvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699516961562:ios:37d2411955d66ee8ace2a3</string>
</dict>
</plist>